

#search-bar{
  margin-top: 12px;
  margin-bottom: 12px;
}

 .creat-date{
  text-align: end;
  margin-top: -12px;
  font-size: 11px;
  font-weight: 700;
 }

.close{
  display: flex;
  justify-content: end;
  font-weight: bolder;
}

.close-button{
  font-size: 13px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: -15px;
  background: repeating-linear-gradient(45deg, black, transparent 100px);
  color: white;
  width: 5rem;
  height: 30px;
  border-radius: 20px;
}

.event_date{
  font-size: 14px;
  margin-top: 6px;
  font-weight: 400;
}

.date{
  font-size: 16px;
  font-weight: 600;
}

.camp_address{
 font-size: 18px;
 font-weight: 500;
}

.address{
  font-size: 15px;
  font-weight: 400;
}

.calendar{
  display: flex;
  right: 35px;
}


.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.btn-pagination {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
}

.btn-pagination:disabled {
  background-color: #c0c0c0;
  cursor: not-allowed;
}

.refresh{
  margin-left: 42px;
}
