.orgName{
    margin-top: 18px;
    color: brown;
}

#modal-title{
    font-size: 23px;
    font-weight: 600;
}

.modal-email{
    font-size: 19px;
    margin-top: 15px;
    font-weight: initial;
    margin-left: 23px;
}

.modal-body{
    font-size: large;
    font-weight: 600;
}

.modal-address{
        font-size: large;
        font-weight: 600;
}


